<% assignment.skill_categories.uniq.each do |cat| %>
    <section class="skill_category col-sm-6">
      <header><%= cat %>:</header>

      <%= assignment.skills_in_text(cat) %>
    </section>
<% end %>