<% assignment.skill_categories.uniq.each do |cat| %>
    <section class="skill_category col-sm-6">
      <header><%= cat %>:</header>

      <%= assignment.skills.map { |s| s if s.skill_category == cat }.reject!(&:blank?).join(', ') %>
    </section>
<% end %>