<h1>Editing assignment</h1>

<%= render 'form' %>

<h2>Experience</h2>
<%= render 'experiences/manage' %>


<hr/>
<%= link_to 'Show', @assignment, class: 'btn btn-default' %>
<%= link_to 'Back', assignments_path, class: 'btn btn-default' %>
