<%= form_for skill_category, remote: true do |f| %>
    <div class="row">
      <div class="col-lg-8"><%= f.text_field :name, class: 'form-control' %></div>
      <div class="col-lg-4">
        <%= f.button skill_category.new_record? ? 'Add' : 'Update' , class: 'btn btn-default' %>
      </div>
    </div>
<% end %>