<header>
  <hgroup>
    <h1>Employment</h1>
    <h2>Jobs experience</h2>
  </hgroup>
</header>


<nav>
    <ul>
    <% @jobs.each do |job| %>
        <li>

          <h1><%= link_to job.company, job %></h1>
          <h2><%= job.title %></h2>

        </li>
    <% end %>
    </ul>
</nav>