<h1>Skills</h1>

<div class="category">
    <h3>Rich Internet Applications</h3>
    Rich Internet Applications built with JavaScript with frameworks.

    <h4>Tools:</h4>
    <ul>
      <li>JavaScript</li>
      <li>CoffeeScript</li>
      <li>Backbone.js</li>
      <li>Underscore.js</li>
      <li>jQuery</li>
    </ul>
</div>

<div class="category">
    <h3>Front-end development</h3>
    Web-based User Interfaces built with HTML and CSS

    <h4>Tools:</h4>
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>SASS</li>
      <li>LESS</li>
      <li>Stylus</li>
      <li>Twitter Bootstrap</li>
      <li>jQueryUI</li>
    </ul>
</div>

<div class="category">
    <h3>Website development</h3>
    All kinds of Websites and RESTful projects

    <h4>Tools:</h4>
    <ul>
      <li>Ruby on Rails</li>
      <li>PostgreSQL</li>
      <li>MySQL</li>
      <li>XSLT</li>
    </ul>
</div>

<div class="category">
    <h3>Team-working</h3>
    Source controls, managing tools and tracking systems.

    <h4>Tools:</h4>
    <ul>
      <li>Git Source Control</li>
      <li>Github, BitBucket</li>
      <li>Rally</li>
      <li>Jira</li>
      <li>TargetProcess</li>
    </ul>

    <h4>SDLC methodologies:</h4>
    <ul>
      <li>Scrum</li>
      <li>XP</li>
    </ul>
</div>


<div class="category">
    <h3>E-commerce</h3>

    <ul>
      <li>Search Engine Optimisation</li>
      <li>Social Media Optimisation</li>
      <li>Marketing</li>
      <li>Sales</li>
    </ul>
</div>
<div class="category">
    <h3>Graphic Design</h3>

    <ul>
      <li>Web-Design</li>
      <li>Illustrations</li>
      <li>Logo design</li>
      <li>Branding</li>
    </ul>
</div>