<h3>Experience</h3>

<table id="experience_list" class="table table-hover">
  <thead>
  <tr>
    <th>Skill</th>
    <th>Rate</th>
    <th>Duration</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <%= render @assignment.experiences %>
  </tbody>
</table>

<div class="experience_form"></div>

<%= link_to 'New experience', new_assignment_experience_path(@assignment), remote: true, class: 'btn btn-default' %>