<% companies.each do |job| %>
    <div class="row">
      <div class="col-sm-9">
        <%= job.title %> in <%= job.company %>
      </div>
      <div class="col-sm-3">
        <%= job.till.strftime '%m/%Y' %> &mdash; <%= job.till.strftime '%m/%Y' || 'now' %>
      </div>
    </div>
<% end %>