<% companies.each do |job| %>
    <div class="row">
      <div class="col-sm-9">
        <%= job.title %> at <%= job.company %>
      </div>
      <div class="col-sm-3">
        <%= format_date job.since %> &mdash; <%= (format_date job.till) || 'now' %>
      </div>
    </div>
<% end %>