<h1>Listing companies</h1>
<table class="table table-hover">
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company, company %></td>
        <td class="controls">
          <%= link_to 'Edit', edit_company_path(company), class: 'btn btn-default' %>
          <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
</table>
<%= link_to 'New Company', new_company_path %>
