<% title @post.title %>
<% content_for :header, @post.title %>

<div class="post_content">
  <%= markdown @post.content %>
</div>

<% if @post.tags.present? %>
    <div class="tags">
      Tags:
      <%= tag_links @post %>
    </div>
<% end %>

<% if person_signed_in? and current_person.admin? %>
    <hr/>
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-default' %>
    <%= link_to 'Back', posts_path, class: 'btn btn-default' %>
<%end %>