@import "common";
@import "fonts";
@import "pictonic";

%main-menu-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

//html, body {
//  overflow-x: hidden;
//  max-width: 100%;
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//}

.body {
  //position: relative;
}

.global-header {

  &.navbar-default {
    background-color: #fff;
  }

  .contact-header {
    height: 40px;
    //background-color: $navbar-default-bg;
    border-bottom: $navbar-default-border 1px solid;
    padding: 8px;

    ul {
      list-style: none;
      padding: 0;

      li {
        display: table-cell;
      }
    }

    .info {
      li { padding-right: 30px; }
    }

  }

  .main-menu {
    text-transform: uppercase;

    ul.nav > li > a {
      @extend %main-menu-padding;

      font-weight: bold;
    }
  }

  .navbar-header {
    a {
      @extend %main-menu-padding;

      font-weight: bold;
      font-size: 30px;

      .zelenyuk {
        color: $green3;
      }
    }
  }
}

.social-icons {

  list-style: none;
  padding: 0;
  position: absolute;
  top: 360px;

  li {
    padding-right: 3px;
    display: table-cell;

    a {
      display: block;
      width: 24px;
      height: 24px;
      margin-top: 5px;

      &::before {
        padding: 3px;
        font-size: 16px;
        border: 1px $navbar-default-bg solid;
        color: $navbar-default-bg;
        border-radius: 3px;
        opacity: .6;
      }

      &:hover {
        text-decoration: none;
        color: black;

        &::before { opacity: 1 }
      }
    }
  }
}

.fontello-icon-mail-1:before {
  content: '\e802';
}

.fontello-icon-mobile:before {
  content: '\f4f1';
}

[class^="fontello-icon-"]:before, [class*=" fontello-icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  line-height: 1em;
}

i, cite, em, var, address, dfn {
  font-style: italic;
}

#page-header {
  h1 { font-size: 3.5em }
  @media print {
    h1 {
      font-size: 1.5em;
      color: blue;
    }
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*
body > footer {
  background: $navbar-default-bg;
  border-top: $navbar-default-border 1px solid;
  height: 100px;
  padding-top: 20px;
}
*/