@import "common";
@import "fonts";
@import "pictonic";

%main-menu-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.body {
  position: relative;
}

.global-header {

  &.navbar-default {
    background-color: #fff;
  }

  .contact-header {
    height: 40px;
    //background-color: $navbar-default-bg;
    border-bottom: $navbar-default-border 1px solid;
    padding: 8px;

    ul {
      list-style: none;
      padding: 0;

      li {
        display: table-cell;
      }
    }

    .info {
      li { padding-right: 30px; }
    }

    .social-icons {
      li {
        padding-right: 2px;

        a {
          display: block;
          width: 24px;
          height: 24px;
          margin-top: 5px;

          &::before {
            padding: 3px;
            font-size: 18px;
            background-color: #333;
            color: $navbar-default-bg;
            border-radius: 3px;
            opacity: .1;
          }

          &:hover {
            text-decoration: none;
            color: black;

            &::before { opacity: 1 }
          }
        }
      }
    }
  }

  .main-menu {
    text-transform: uppercase;

    ul.nav > li > a {
      @extend %main-menu-padding;

      font-weight: bold;
    }
  }

  .navbar-header {
    a {
      @extend %main-menu-padding;

      font-weight: bold;
      font-size: 30px;

      .zelenyuk {
        color: $green3;
      }
    }
  }
}

.fontello-icon-mail-1:before {
  content: '\e802';
}

.fontello-icon-mobile:before {
  content: '\f4f1';
}

[class^="fontello-icon-"]:before, [class*=" fontello-icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  line-height: 1em;
}

i, cite, em, var, address, dfn {
  font-style: italic;
}

#page-header {
  h1 { font-size: 3.5em }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*
body > footer {
  background: $navbar-default-bg;
  border-top: $navbar-default-border 1px solid;
  height: 100px;
  padding-top: 20px;
}
*/