@import "common";

body.cv {
  section.key_value {
    .row {
      border-bottom: #ccc solid 1px;
      &>div {
        padding-top: 10px;
        padding-bottom: 10px;
        &:first-child {
          font-weight: bold;
        }
      }
    }
  }

  span.icon {
    width: 30px;
  }

  .icon {
    &::before {
      zoom: 1.5;
      color: $brand-primary;
      margin-right: 5px;
    }
  }

  .skill_category {
    header {
      font-weight: bold;
      color: $gray-light;
    }
    ul {
      padding: 0;
      li {
        list-style: none;
        margin: 10px 0 10px 0;
      }
    }
  }

  th.rate {
    width: 200px;
  }

  .progress {
    margin: 0;
  }

  section.cv-section {
    margin-bottom: 80px;

    section {
      margin-bottom: 20px;
    }

    &>header:first-child {
      background: $table-bg-accent;
      color: $gray-light;
      margin-bottom: 10px;

      h2 {
        font-size: 1.5em;
        margin-top: 10px;
      }

    }

    & > .row, .assignment > .row {
      padding: 5px 0;
      border-bottom: 1px $btn-default-border solid;
    }

    &>header.table-header {
      font-weight: bold;
    }

    h3 {
      color: $gray-light;
      font-size: 1.3em;
    }

    .assignment {

      & > header h3 {
        font-size: 1.4em;
        color: $brand-primary;
      }

      & > .row {
        & > div:first-child {
          font-weight: bold;
          color: $gray-light;
        }
      }

      .skill_category header {
        background: $table-bg-accent;
        color: $gray-light;
        font-weight: normal;
        padding: 2px 30px;
      }
    }
  }
}

section#skills {
  &>.skill_category>.row {
    padding: 5px 0;
    border-bottom: 1px $btn-default-border solid;
  }

  .icon {
    margin-top: 2px;
  }

  .skill-name { font-weight: bold; }

  @media (min-width: 1200px) {
    .skill-name { font-weight: normal; }
  }

}
